build-winnice*/
src/.vs/
src/Debug/
src/Release/
src/libwinnice/Win32/
src/libwinnice/x64/
src/winnice/Win32/
src/winnice/winnice.vcxproj.user
src/libwinnice/libwinnice.vcxproj.user
src/winnice/x64/
src/winnicesolution.pro.user
src/zzzDist/Release/
src/zzzDist/x64/

src/testtarget/Debug/
src/testtarget/Release/
src/testtarget/testtarget.vcxproj.user

